{% extends 'shared/base.html' %}
{% block content %}
    <div class="vstack gap-4 mt-3">
        <div class="nav-bar">
            <div class="help">
                <a href="/" rel="noopener noreferrer">
                    <i class="bi bi-house-door-fill"></i>
                    Home
                </a>
            </div>
            <div class="help">
                <a href="/glossary/" rel="noopener noreferrer">
                    <i class="bi bi-info-circle-fill"></i>
                    Glossary
                </a>
            </div>
            <div class="help">
                <a href="/forum/" rel="noopener noreferrer">
                    <i class="bi bi-person-raised-hand"></i>
                    Help Forum
                </a>
            </div>
        </div>
        <div class="title-container">
            <img src="https://github.com/joey-cheng-codes/htgs-team3/blob/edens-branch/Schrodinger_SciINfo.png?raw=true"
                 alt="logo"
                 width="375"
                 height="200">
            <!-- <h1 class="text-primary">Schrodinger SciBoard</h1> -->
        </div>
        <form id="form_search"
              name="form_search"
              method="post"
              action="{% url 'add-post' %}"
              class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control"
                           name="content"
                           placeholder="Ask a question"
                           type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit">Enter!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div>
        {% for post in posts %}
            <div class="card mt-3">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="badge bg-secondary badge-success">Answered</span>
                        <span class="date">{{ Now }}</span>
                    </div>
                    <h5 class="content">{{ post.content }}</h5>
                    <p class="user">John Doe</p>
                    <div>
                        Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non posuere erat, in congue sem.
                        Nam nec volutpat nisi, sit amet consequat urna. Ut congue leo elit, lacinia consequat diam bibendum
                        congue. Curabitur mollis consequat diam ut posuere. Morbi elementum ex sit amet placerat lobortis.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block styles %}
    <style>
    .form-group {
        display: flex;
        flex-direction: row;
    }

    .header-title {
        font-size: 4rem;
    }

    .form-label {
        font-size: 16px;
    }

    .date {
        float: right;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .home {
        flex-direction: row;
        margin-top: 1%;
        text-align: right;
        margin-bottom: -20px;
        color: white
    }

    .home a:hover {
        color: rgb(132, 196, 255);
    }
    .help {
    flex-direction: row;
    margin-top: 1%;
    text-align: right;
    margin-bottom: -20px;
    color: white
  }

  .help a:hover {
    color: rgb(132, 196, 255);
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 3rem;
    margin-left: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
    </style>
{% endblock %}
