<div class="card">
  <div class="image-container">
    <img src="{% url 'compound-image' smiles %}?highlight={{ highlighted_substructure }}" alt="{{ smiles }}"
      class="card-img-top w-100 overflow-hidden" style="aspect-ratio: 1">
  </div>
  <div class="card-body">
    <h5 class="card-title text-truncate text-center" data-bs-toggle="tooltip" data-bs-title="{{ smiles }}">{{ smiles }}
    </h5>
    <!-- <p>{{ properties }}</p> -->
    <table>
      <tr class="label-data-container">
        <td class="title-label"># Atoms:&nbsp;</td>
        <td class="data-label">{{ properties.NumAtoms}}</td>
      </tr>
      <tr class="label-data-container">
        <td class="title-label">Molecular Weight:&nbsp;</td>
        <td class="data-label">{{ properties.MolecularWeight}}</td>
      </tr>
      <tr class="label-data-container">
        <td class="title-label">logP:&nbsp;</td>
        <td class="data-label">{{ properties.LogP}}</td>
      </tr>
      <tr class="label-data-container">
        <td class="title-label"># Hydrogen Bond Donors:&nbsp;</td>
        <td class="data-label">{{ properties.HBD}}</td>
      </tr>
      <tr class="label-data-container">
        <td class="title-label"># Hydrogen Bond Acceptors:&nbsp;</td>
        <td class="data-label">{{ properties.HBA}}</td>
      </tr>
      <tr class="label-data-container">
        <td class="title-label">Polar Surface Area:&nbsp;</td>
        <td class="data-label">{{ properties.PSA}}</td>
      </tr>
    </table>
  </div>
</div>
{% block styles %}
<style>
  .label-data-container {
    display: flex;
    flex-direction: row;
  }

  .card-title {
    color: #0d6efd
  }

  .image-container {
    border-bottom: 1px solid #0000002b;
  }

  .card-body {
    border: 1px solid #0000002b;
  }

  .title-label {
    font-weight: 700;
  }

  .data-label {
    font-weight: 500;
  }
</style>
{% endblock %}