{% extends 'shared/base.html' %}
{% block content %}
  <div class="vstack gap-4 mt-3">
    <div class="nav-bar">
      <div class="help">
        <a href="/" rel="noopener noreferrer">
          <i class="bi bi-house-door-fill"></i>
          Home
        </a>
      </div>
      <div class="help">
        <a href="/glossary/" rel="noopener noreferrer">
          <i class="bi bi-info-circle-fill"></i>
          Glossary
        </a>
      </div>
      <div class="help">
        <a href="/forum/" rel="noopener noreferrer">
          <i class="bi bi-person-raised-hand"></i>
          Help Forum
        </a>
      </div>
    </div>
    <div class="title-container">
      <img src="https://github.com/joey-cheng-codes/htgs-team3/raw/edens-branch/Schrodinger_SciINfo.png"
           alt="logo"
           width="375"
           height="200">
    </div>
    <h1>Glossary of Terms</h1>
    <form>
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Search..">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Terms:</th>
          <th scope="col">Definitions:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Atom</td>
          <td>The basic unit of a chemical element</td>
        </tr>
        <tr>
          <td>Molecular Weight</td>
          <td>
            The ratio of the average mass of one molecule of an element or compound to one twelfth of the mass of an atom of carbon-12
          </td>
        </tr>
        <tr>
          <td>logP</td>
          <td>A measure of the preference of a compound to dissolve in either water or an organic solvent when uncharged</td>
        </tr>
        <tr>
          <td>Hydrogen Bond Donor</td>
          <td>A molecule or chemical group that supplies the hydrogen atom of a hydrogen bond</td>
        </tr>
        <tr>
          <td>Hydrogen Bond Acceptor</td>
          <td>
            An atom, ion, or molecule that accepts a hydrogen bond by providing an electronegative atom to which the hydrogen atom is attracted
          </td>
        </tr>
        <tr>
          <td>Hydrogen Bond Acceptor</td>
          <td>
            An atom, ion, or molecule that accepts a hydrogen bond by providing an electronegative atom to which the hydrogen atom is attracted
          </td>
        </tr>
        <tr>
          <td>Molecular Polar Surface Area</td>
          <td>A measure of the polar part of a molecule's surface</td>
        </tr>
        <tr>
          <td>Biologics</td>
          <td>
            A diverse group of medicines which includes vaccines, growth factors, immune modulators, monoclonal antibodies, as well as products derived from human blood and plasma
          </td>
        </tr>
        <tr>
          <td>Materials</td>
          <td>The matter an object is made up of</td>
        </tr>
        <tr>
          <td>Small Molecule</td>
          <td>
            Low molecular weight organic compound that may regulate a biological process, with a size on the order of 1 nm.
          </td>
        </tr>
        <tr>
          <td>SMILE</td>
          <td>
            "Simplified Molecular Input Line Entry System,” which is used to translate a chemical's three-dimensional structure into a string of symbols that is easily understood by computer software
          </td>
        </tr>
        <tr>
          <td>Ligand</td>
          <td>An ion or molecule with a functional group that binds to a central metal atom to form a coordination complex.</td>
        </tr>
        <tr>
          <td>Protein</td>
          <td>Polypeptide structures consisting of one or more long chains of amino acid residues.</td>
        </tr>
        <tr>
          <td>Scaffold</td>
          <td>A protein that is used as a starting point for the design of antibody mimetics</td>
        </tr>
        <tr>
          <td>Compound</td>
          <td>
            A chemical substance composed of many identical molecules containing atoms from more than one chemical element held together by chemical bonds.
          </td>
        </tr>
        <tr>
          <td>Enzyme</td>
          <td>
            A protein that increases the rate of a chemical reaction without being changed by the reaction; an organic catalyst.
          </td>
        </tr>
        <tr>
          <td>Hydrophobicity</td>
          <td>The physical property of a molecule that is seemingly repelled from a mass of water.</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
{% block styles %}
  <style>
  .table {
    margin-top: 10px;
  }

  .home {
    flex-direction: row;
    margin-top: 1%;
    text-align: right;
    margin-bottom: -20px;
    color: white;
  }

    .home a:hover {
      color: rgb(132, 196, 255);
    }

    a {
      color: inherit;
      text-decoration: none;
    }

  h1 {
    color: white;
    margin: 10px;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .help {
    flex-direction: row;
    margin-top: 1%;
    text-align: right;
    margin-bottom: -20px;
    color: white
  }

  .help a:hover {
    color: rgb(132, 196, 255);
  }
  .nav-bar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 3rem;
    margin-left: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  </style>
{% endblock %}
